.daohang{
	width: 100%;
	height: 79px;
	background-color: #FAFAFA;
	/* float: left; */
}
.daohang_center{
	width: 1200px;
	height: 79px;
	margin: 0 auto;
}
.daohang_left{
	width: 103px;
	height: 59px;
	float: left;
	margin-left: 7px;
	margin-top: 9px;
}
.daohang_left h1{
	font-size: 20px;
	color: #2D6C8C;
	float: right;
	line-height: 29.5px;
	font-family: 微软雅黑;
}
.daohang_right{
	width: 600px;
	height: 79px;
	float: left;
	margin-left: 270px;
	text-align: center;
}
.shouye{
	font-size: 14px;
	color: #494949;
	line-height: 28px;
	margin-top: 24px;
	text-align: center;
	float: left;
	width: 83px;
	height: 28px;
	position: relative;
}
.danghang_jl{
	margin-left: 20px;
}
.danghang_xz{
	color: #2D6C8C;
}
.lkuohao{
	margin-right: 6px;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
.rkuohao{
	margin-left: 6px;
	position: absolute;
	bottom: 0;
	right: 0;
	visibility: hidden;
}
.shouye:hover{
	color: #2D6C8C;
}
.shouye:hover .lkuohao,.shouye:hover .rkuohao{
	visibility: visible;
}
.sousuo{
	width: 169px;
	height: 23px;
	background-color: #F9F9F9;
	border: 1px solid #BFBFBF;
	float: right;
	margin-right: 40px;
	margin-top: 25px;
	border-radius: 20px;	
}
.biaoge{
	position: relative;
}
.ss_btn{
	position: absolute;
	top: 31px;
	right: 49px;
	cursor: pointer;
}
.banner{
	width: 100%;
	height: 540px;
	background-color: #F5F5F5;
	float: left;
	position: relative;
	overflow: hidden;
}
.xian1{
	float: left;
}
.xian2{
	margin-left: 50px;
}
.xian3{
	position: absolute;
	top: 307px;
	right: 1230px;
}
.xian4{
	margin-top: 200px;
}
.xian5{
	position: absolute;
	top: 290px;
	right: 0;
}
.lankuai{
	width: 733px;
	height: 306px;
	background-color: #ADC4D2;
	position: absolute;
	top: 68px;
	right: 210px;
}
.wzbk{
	position: absolute;
	top: 45px;
	right: 436px;
}
.wzbj{
	width: 211px;
	height: 243px;
	background-color: #EFF3F6;
	border-top: 2px solid #FDFDFD;
	position: absolute;
	top: 66px;
	right: 457px;
}
.jianyue{
	float: right;
	margin-top: 7px;
}
.jianyue_l{
	float: right;
	margin-right: 9px;
	margin-top: 20px;
}
.hanzi{
	float: right;
	margin-right: 9px;
	margin-top: 20px;
}
.yingwen{
	float: right;
	margin-right: 9px;
	margin-top: 20px;
}
.zuokuang{
	position: absolute;
	top: 89px;
	right: 387px;
}
.xiandai{
	position: absolute;
	top: 97px;
	right: 393px;
}
.Nordic{
	position: absolute;
	top: 47px;
	left: 450px;
}
.heid{
	position: absolute;
	top: 0;
	left: 133px;
}
.shafa{
	position: absolute;
	bottom: 33px;
	left: 272px;
}
.shuzi{
	position: absolute;
	width: 42px;
	height: 171px;
	bottom: 25px;
	left: 97px;
}
.shuzi1{
	width: 27px;
	height: 32px;
	text-align: center;
	font-size: 21px;
	color: #2F2F2F;
	margin: 0 auto;
	line-height: 32px;
	position: relative;
}
.zkuohao{
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
}
.ykuohao{
	position: absolute;
	bottom: 0;
	right: 0;
	visibility: hidden;
}
.shuzi1:hover .zkuohao,.shuzi1:hover .ykuohao{
	visibility: visible;
}
.shuzi1:hover{
	color: #2D6C8C;
}
.chanpin{
	width: 100%;
	height: 976px;
	background-color: #fff;
	float: left;
}
.chanpin_center{
	width: 1200px;
	height: 936px;
	margin: 0 auto;
}
.biaoti{
	width: 427px;
	height: 122px;
	margin-left: 386px;
	margin-top: 40px;
	position: relative;
}
.z_biaoti{
	width: 142px;
	height: 75px;
	float: left;
	margin-top: 40px;
}
.livable{
	font-size: 24px;
	color: #2D6C8A;
	letter-spacing: 2px;
	float: right;
	font-weight: normal;
}
.era{
	float: right;
	color: #2D6C8A;
	letter-spacing: 2px;
	font-weight: normal;
}
.juxing{
	top: 19px;
	left: 161px;
	position: absolute;
}
.anli{
	position: absolute;
	top: 40px;
	left: 175px;
}
.fangzi{
	position: absolute;
	top: 0;
	right: 148px;
	z-index: 999;
	background-color: #fff;
}
.y_biaoti{
	margin-left: 140px;
}
.something{
	font-size: 12px;
	color: #888888;
	float: left;
}
.dont{
	font-size: 16px;
	color: #363636;
}
.chanpin_bottom{
	width: 1200px;
	height: 776px;
	float: left;
	margin-top: 38px;
}
.cp_b1{
	width: 371px;
	height: 371px;
	border: 1px solid #CDCDCD;
	float: left;
	overflow: hidden;
	position: relative;
}
.canzhuo{
	width: 371px;
	height: 371px;
}
.yuanzhuo{
	width: 500px;
	height: 450px;
	float: left;
}
.juzhong{
	width: 326px;
	height: 326px;
	background-color: #5688A3;
	position: absolute;
	top: 22px;
	left: 22px;
	opacity: 0.9;
	visibility: hidden;
}
.juzhong_z{
	position: absolute;
	top: 50px;
	left: 126px;
}
.juzhong_y{
	position: absolute;
	top: 50px;
	right: 126px;
}
.canyinkuang{
	position: absolute;
	top: 50px;
	left: 138px;
}
.can{
	position: absolute;
	top: 78px;
	left: 144px;
}
.zhuo{
	position: absolute;
	bottom: 68px;
	left: 144px;
}
.tablez{
	position: absolute;
	top: 158px;
	left: 54px;
}
.tuoyuan{
	position: absolute;
	top: 158px;
	left: 83px;
}
.tuoyuany{
	position: absolute;
	top: 158px;
	right: 83px;
}
.tabley{
	position: absolute;
	top: 158px;
	right: 54px;
}
.table{
	position: absolute;
	top: 150px;
	left: 101px;
}
.cp_b1:hover .juzhong{
	visibility: visible;
}
.cp_b2{
	margin-left: 40px;
}
.cp_b3{
	margin-top: 30px;
}
.alzs{
	width: 100%;
	height: 520px;
	background-color: #fff;
	float: left;
}
.alzs_center{
	width: 1200px;
	height: 480px;
	margin: 0 auto;
	margin-top: 3px;
}
.alzs_bottom{
	width: 1200px;
	height: 320px;
	float: left;
	margin-top: 38px;
}
.alzs_left{
	width: 484px;
	height: 320px;
	float: left;
	margin-left: 86px;
	position: relative;
}
.alzs_l1{
	width: 454px;
	height: 274px;
	border: 2px solid #fff;
	position: absolute;
	top: 24px;
	right: 0;
}
.alzs2{
	width: 454px;
	height: 274px;
}
.btn_l{
	width: 40px;
	height: 40px;
	background-color: #000000;
	position: absolute;
	bottom: 0;
	right: 78px;
	text-align: center;
}
.btn_l span{
	color: #fff;
	font-size: 20px;
	line-height: 40px;
}
.btn_r{
	width: 40px;
	height: 40px;
	background-color: #000000;
	position: absolute;
	bottom: 0;
	right: 38px;
	text-align: center;
}
.btn_r span{
	color: #fff;
	font-size: 20px;
	line-height: 40px;
}
.btn_l:hover,.btn_r:hover{
	background-color: #2D6C8C;
}
.alzs_bottom img:hover{
	box-shadow: 2px 2px 20px 2px #DDDDDB;
}
.alzs_right{
	width: 481px;
	height: 296px;
	float: right;
	margin-right: 86px;
	margin-top: 18px;
}
.yangtai{
	font-size: 36px;
	float: left;
}
.yangtaiz{
	font-size: 30px;
	font-weight: normal;
	float: left;
	margin-left: 21px;
	margin-top: 2px;
}
.kaitou{
	width: 327px;
	font-size: 14px;
	color: #666666;
	float: left;
	margin-top: 20px;
}
.lanse_more{
	width: 73px;
	height: 24px;
	float: right;
	margin-top: 50px;
	color: #2F6C8B;
	font-size: 12px;
	line-height: 24px;
}
.more_di{
	width: 25px;
	height: 25px;
	background-color: #2D6C8C;
	float: right;
	color: #fff;
	line-height: 25px;
	text-align: center;
}
.sx_xian{
	width: 481px;
	height: 1px;
	background-color: #B2B2B2;
	float: left;
	position: relative;
}
.sx_lanxian{
	width: 73px;
	height: 1px;
	background-color: #668B9D;
	position: absolute;
	top: 0;
	right: 0;
}
.duanluo{
	color: #2C2A2B;
	font-size: 14px;
	float: left;
	margin-top: 19px;
}
.tuandui{
	width: 100%;
	height: 799px;
	background-color: #fff;
	float: left;
}
.tuandui_top{
	width: 1200px;
	height: 163px;
	margin: 0 auto;
}
.tuandui_bottom{
	width: 100%;
	height: 519px;
	float: left;
	position: relative;
}
.tuanduib_top{
	width: 100%;
	height: 409px;
	background-color: #557284;
	position: relative;
}
.sytongping{
	width: 100%;
	height: 409px;
}
.PROTENA{
	position: absolute;
	top: 75px;
	left: 167px;
}
.xiangmu{
	position: absolute;
	top: 130px;
	left: 167px;
}
.lanse_more1{
	border-bottom: 2px solid #fff;
	color: #fff;
	position: absolute;
	top: 20px;
	left: 576px;
}
.more_di1{
	background-color: #fff;
	color: #010101;
}
.tuanduib_left{
	width: 596px;
	height: 214px;
	position: absolute;
	top: 288px;
	left: 166px;
}
.tuanduib_l1{
	width: 119px;
	height: 214px;
	float: left;
	position: relative;
}
.chengse{
	position: absolute;
	top: 0;
	left: 0;
	width: 119px;
	height: 3px;
	background-color: #F5C812;
	visibility: hidden;
}
.tuanduib_limg{
	width: 118px;
	height: 179px;
	border-top: 3px solid #ADC4D2;
	border-bottom: 1px solid #ADC4D2;
}
.tuanduib_limg img{
	width: 119px;
	height: 179px;
	margin-bottom: 15px;
}
.tuanduib_l1 span{
	font-size: 12px;
	color: #B2B2B2;
	font-weight: bold;
	line-height: 50px;
	margin-left: 10px;
}
.tuanduib_l1:hover .chengse{
	visibility: visible;
}
.tuanduib_l1:hover span{
	color: #000;
}
.tuanduib_l2{
	margin-left: 40px;
}
.tuanduib_right{
	width: 472px;
	height: 648px;
	position: absolute;
	bottom: 0;
	right: 110px;
}
.tiaowenkuang{
	position: absolute;
	bottom: 0;
	right: 51px;
}
.tiaowen{
	position: absolute;
	bottom: 0;
	right: 51px;
}
.bj_sekuai{
	position: absolute;
	bottom: 21px;
	left: 73px;
	width: 331px;
	height: 457px;
}
.bj_sekuai img{
	width: 331px;
	height: 457px;
}
.heiren{
	position: absolute;
	top: 0;
	left: 0;
}




.zhandian{
	width: 100%;
	height: 517px;
	background-color: #255974;
	float: left;
}
.ditu{
	width: 1000px;
	height: 160px;
	margin: 0 auto;
	margin-top: 72px;
	overflow: hidden;
	position: relative;
}
.difang{
	background-clip: border-box;
}
.didian{
	position: absolute;
	top: 52px;
	left: 294px;
}
.dizhi{
	width: 296px;
	height: 71px;
	background-color: #2D6C8C;
	position: absolute;
	top: 41px;
	left: 358px;
	border-radius: 10px;
}
.gzs{
	font-size: 14px;
	color: #fff;
	line-height: 35px;
	margin-left: 24px;
}
.ditu_bottom{
	width: 1001px;
	height: 167px;
	margin: 0 auto;
	margin-top: 43px;
}
.ditu_left{
	width: 383px;
	height: 167px;
	float: left;
	position: relative;
}
.xingming{
	width: 183px;
	height: 29px;
	background-color: #fff;
	float: left;
}
.xingming1{
	width: 181px;
	height: 27px;
	background-color: #fff;
	border: 1px solid #fff;
	color: #A3A3A3;
}
.youxiang{
	margin-left: 11px;
}
.liuyan{
	width: 383px;
	height: 126px;
	background-color: #fff;
	float: left;
	margin-top: 10px;
}
.liuyan1{
	width: 381px;
	height: 124px;
	border: 1px solid #fff;
	color: #A3A3A3;
}
.send{
	width: 69px;
	height: 25px;
	background-color: #fff;
	position: absolute;
	bottom: 12px;
	right: 24px;
	cursor: pointer;
}
.send span{
	font-size: 8px;
	color: #2D6C8C;
	float: left;
	margin-top: 5px;
	font-weight: bold;
}
.send_xhx{
	width: 43px;
	height: 2px;
	background-color: #88ADBF;
	float: left;
	margin-top: 3px;
}
.send_sc{
	width: 26px;
	height: 25px;
	background-color: #2D6C8C;
	float: left;
	margin-top: -20px;
}
.send_sc span{
	color: #fff;
	font-size: 14px;
	margin-left: 8px;
	margin-top: 1px;
}
.ditu_center{
	width: 295px;
	height: 167px;
	float: left;
	margin-left: 69px;
}
.ditu_c_top{
	width: 143px;
	height: 30px;
}
.neirong_zw{
	font-size: 14px;
	color: #fff;
}
.neirong_yw{
	font-size: 12px;
	color: #7F96A5;
	float: left;
}
.ditu_c_bottom{
	width: 295px;
	height: 117px;
	margin-top: 15px;
}
.ditu_c_bottom span{
	font-size: 14px;
	color: #fff;
	float: left;
}
.ditu_c_bottom span:hover{
	color: #ADC4D2;	
}
.xinwen{
	margin-left: 58px;
}
.xinwen1{
	margin-top: 15px;
	float: left;
}
.ditu_right{
	width: 167px;
	height: 155px;
	float: left;
	margin-left: 87px;
}
.weibo{
	width: 166px;
	height: 30px;
	margin-top: 35px;
}
.weibo1{
	width: 30px;
	height: 30px;
	background-color: #fff;
	border-radius: 50%;
	float: left;
}
.weibo1 img{
	margin-top: 8px;
	margin-left: 6px;
}
.weixin{
	margin-left: 34px;
}
.qq img{
	margin-left: 7px;
}
.guanzhu{
	width: 166px;
	height: 32px;
	float: left;
	margin-top: 27px;
}
.guanzhu p{
	font-size: 12px;
	color: #fff;
}
.footer{
	width: 100%;
	height: 56px;
	background-color: #181818;
	float: left;
	text-align: center;

}
.footer span{
	color: #7B7B7B;
	font-size: 12px;
	line-height: 28px;
}
.jing{
	margin-left: 3px;
}